<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getIPAddress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AEF70D21F56BB1600A8C96D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEF70EB1F56BB1600A8C96D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEF70F61F56BB1600A8C96D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
